.grid {
  margin-top: 1rem;
  margin-left: 5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 1rem 0rem;
  padding: 1rem;
  z-index: 1;
}

.grid.active {
  margin-top: 1rem;
  margin-left: 16rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 1rem 0rem;
  padding: 1rem;
  z-index: 1;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: auto auto auto;
  }
  .grid.active {
    grid-template-columns: 17rem 17rem 17rem;
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 19rem 19rem 19rem;
  }
  .grid.active {
    grid-template-columns: 21rem 21rem;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 23rem 23rem;
  }
  .grid.active {
    grid-template-columns: 18rem 18rem;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 21rem 21rem;
  }
  .grid.active {
    grid-template-columns: 15rem 15rem;
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 18rem 18rem;
  }
  .grid.active {
    grid-template-columns: auto;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
  }
}
